# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\React_Stage\Chat_App\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
